*{
	padding: 0;
	margin: 0;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.left{
	float: left;
}
.right{
	float:right;
}

.login{
	margin-top: 10px;
	color: #FFF;
	font-size: 12px;
}
.registered{
	margin-top: 10px;
	color: #fff;
	font-size: 12px;
}
.wai{
	background-color: #EC971F;
}
.wod{
	color: #fff;
}
.wonu{
	width: 100px;
	float: left;
	margin-right:20px;
}
.w-z{
	font-size: 20px;
	margin-top: 20px;
}
.w-d{
	font-size: 15px;
	margin-top: 10px;
}
.k-kh{
	width: 100%;
	background-color: #fff;
	padding-top: 20px;
}
.kh{
	width:20%;
	text-align: center;
	float: left;
}
.icon-kehu:before{
	font-size: 25px;
}
.icon-youhuiquan:before{
	font-size: 25px;
}
.icon-icon-:before{
	font-size: 25px;
}
.icon-jifen:before{
	font-size: 25px;
}
.icon-jiangpin:before{
	font-size: 25px;
}
.si{
	width:100%;
	background-color: #fff;
	margin-top: 18px;
	padding-top: 20px;;
	padding-bottom: 20px;
	margin-bottom: 2px;
}
.bai{
	width:80%;
	margin: 0 auot;
	border-left: 6px solid #ff6001;
	padding-left: 24px;
	color: #999999;
	font-size: 20px;
}
.huodong{
	margin-top: 20px;
}
.icon-jiangpin:before{
	color: #f96268;
}
.icon-jiankangjilu1:before{
	color: #42bd56;
}
.icon-VIP:before{
	color: #ffc60b;
}
.icon-kefu:before{
	color: #ff6000;
}
.icon-goushengxiao:before{
	color: #F15B00;
}
.icon-imwe:before{
	color: #FF6001;
}
